@page
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IStringLocalizer<WebUI.SharedResources> SharedLocalizer
@model InfoModel
@{
    ViewData["Title"] = SharedLocalizer["infoTitle"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}
<h1>@ViewData["infoTitle"]</h1>

<p>@SharedLocalizer["infoParagraph1"]</p>
<p>@SharedLocalizer["infoParagraph2"]</p>
