@page
@model InfoModel
@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>Diese Übersicht listet alle Alpenvereinshütten, die aktuell über das offizielle Online-Buchungsportal der Alpenvereine gebucht werden können. 
    Die Hütten befinden sich hauptsächlich in Deutschland, Österreich und der Schweiz.</p>
<p>Wichtig: Diese Seite ist ein privates Projekt und steht in keiner Verbindung zum offiziellen Portal der Alpenvereine. Alle Angaben hier sind ohne Gewähr.</p>
