@page "/"
@model WebUI.Pages.MapModel

@{
    ViewData["Title"] = "Hüttenkarte";
}

@section Scripts{
    <script>

        function resetDateFilter() {
            document.getElementById('DateFilter').value = '';
            askForPlots();
        }

        var map;
        var ajaxRequest = new XMLHttpRequest();
        var hutlist;
        var plotlayers = [];

        function initmap() {
            // set up the map
            map = new L.Map('map');

            // create the tile layer with correct attribution
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, { minZoom: 6, attribution: osmAttrib });

            var zoom = 7;
            var lat = 46.90;
            var lon = 11.33;

            var params = getUrlVars();
            if (params["lat"] !== undefined && params["lon"] !== undefined) {
                lat = params["lat"];
                lon = params["lon"];
                zoom = 15;
            }

            // Initial view on the Alps
            map.setView(new L.LatLng(lat, lon), zoom);
            map.addLayer(osm);

            // Initial load of huts to plot
            askForPlots();

            // We don't have that many markers (only a couple of hundred), so we don't bother reloading only the ones in sight
            // Create event handler on map moved
            //map.on('moveend', onMapMove);
        }

        function onMapMove(e) { askForPlots(); }

        function askForPlots() {
            // request the huts info with AJAX for the current bounds
            var bounds = map.getBounds();
            var minll = bounds.getSouthWest();
            var maxll = bounds.getNorthEast();
            var url = 'api/Map?';
            url = url.concat("&dateFilter=" + document.getElementById('DateFilter').value);

            // We don't use a location filter for now and just load all the huts
            //url = url.concat('&llLon=' + minll.lng + '&llLat=' + minll.lat + '&urLon=' + maxll.lng + '&urLat=' + maxll.lat);

            ajaxRequest.onreadystatechange = mapRequestHandler;
            ajaxRequest.open('GET', url, true);
            ajaxRequest.send(null);
        }

        // Icons from here: https://github.com/pointhi/leaflet-color-markers

        var greenIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var redIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var greyIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var blueIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        function mapRequestHandler() {
            // if AJAX returned a list of markers, add them to the map
            if (ajaxRequest.readyState == 4) {
                //use the info here that was returned
                if (ajaxRequest.status == 200) {
                    hutlist = eval("(" + ajaxRequest.responseText + ")");
                    removeMarkers();
                    for (i = 0; i < hutlist.length; i++) {
                        var plotll = new L.LatLng(hutlist[i].latitude, hutlist[i].longitude, true);

                        var icon;
                        if (hutlist[i].enabled === false) {
                            icon = greyIcon; // grey=booking not active
                        } else if (hutlist[i].freeBeds === 0) {
                            icon = redIcon; // red=full
                        } else if (hutlist[i].freeBeds > 0) {
                            icon = greenIcon; // green=beds available
                        } else {
                            icon = blueIcon; // fallback
                        }

                        var plotmark = new L.Marker(plotll, { icon: icon });
                        plotmark.data = hutlist[i];
                        map.addLayer(plotmark);

                        var toolTip = "<b>" + hutlist[i].name + "</b>";
                        if (hutlist[i].freeBeds != null) {
                            toolTip = toolTip.concat("<br />Freie Plätze: " + hutlist[i].freeBeds);
                        }

                        plotmark.bindTooltip(toolTip);

                        var popupBody = [];

                        var popupHeader = "<h6>" + hutlist[i].name + "</h6>";
                        if (hutlist[i].enabled == true) {
                            if (hutlist[i].freeBeds !== null) {
                                var d = new Date(document.getElementById('DateFilter').value);
                                var formatted = `${d.getDate()}.${d.getMonth() + 1}.${d.getFullYear()}`;
                                popupBody.push("[" + formatted + "] Freie Plätze: " + hutlist[i].freeBeds);
                            }
                            popupBody.push("<a target=\"_blank\" href=\"" + hutlist[i].onlineBookingLink + "\">Onlinebuchung</a>");
                        }
                        else {
                            popupBody.push("<i>Onlinebuchung nicht aktiv</i>");
                        }

                        if (hutlist[i].hutWebsiteLink !== null) {
                            popupBody.push("<a target=\"_blank\" href=\"" + hutlist[i].hutWebsiteLink + "\">Hüttenwebsite</a>");
                        }
                        plotmark.bindPopup(popupHeader.concat(popupBody.join("<br />")));
                        plotlayers.push(plotmark);
                    }
                }
            }
        }

        // Function to clear all markers
        function removeMarkers() {
            for (i = 0; i < plotlayers.length; i++) {
                map.removeLayer(plotlayers[i]);
            }
            plotlayers = [];
        }

        // On change of the date field, reload the map
        $("#dateForm")
            .on("input", function () {
                askForPlots();
            });

        $(document).ready(function () {
            initmap();
            autocomplete(document.getElementById("mapSearch"));
        })

        // Search with autocomplete
        function autocomplete(inp) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                var arr = hutlist;
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    var valField = arr[i].name; // We are searching on the name
                    if (valField.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + valField.substr(0, val.length) + "</strong>";
                        b.innerHTML += valField.substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + valField + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;

                            var hut = hutlist.find(poi => poi.name === inp.value);
                            map.setView(new L.LatLng(hut.latitude, hut.longitude), 15);
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                            // Do the search
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    </script>
}

<h1>Karte</h1>
<div class="row justify-content-between">
    <div class="col-md-3">
        <div class="form-group">
            <form id="dateForm">
                <div>
                    <label>Verfügbarkeit an Datum</label>
                    <input id="DateFilter" type="date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
            </form>
            <div>
                <button class="btn btn-primary" onclick="resetDateFilter();">Reset</button>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="autocomplete">
            <label>Hüttensuche</label>
            <input autocomplete="off" id="mapSearch" class="form-control" type="text" placeholder="Search">
        </div>
    </div>
</div>

<div id="map" class="map"></div>
