@page
@model IndexModel
@{
    ViewData["Title"] = "Alpenvereinshütten Onlinebuchungs-Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p><a href="./Huts">Hütten</a></p>
</div>
